@font-face {
  font-family: "SF Mono";
  src: url("./Menlo-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "SF Mono";
  src: url("./Menlo-RegularItalic.ttf") format("opentype");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "SF Mono";
  src: url("./Menlo-Bold.ttf") format("opentype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "SF Mono";
  src: url("./Menlo-BoldItalic.ttf") format("opentype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
